<div class="container">
   
    {{#if post}}
   
    
    <div class="box">
         {{#each post}}
<article class="message is-info is-small" id="msg-box">
    <div class="message-header">
        <p>{{this.title}}</p>
        <div class="level-right">
            <a class="button is-success is-rounded is-small">
            <span class="icon is-small">
                <i class="fas fa-check"></i>
            </span>
            <span>Save</span>
        </a>
        <button class="delete" aria-label="delete"></button>
        </div>
        </div>
    
    <div class="message-body">
       
        <a>{{this.link}}</a> 
       <p>{{this.city}}</p>
        <p>{{this.date}}</p>
        </div>
    </article>
     {{/each}}

</div>
     {{else}} 
     <div class="container is-fluid level-item">
<img src="/assets/images/cd.jpg" alt="cat&dog">
</div>
{{/if}}
</div>
