<div class="container">
   
    {{#if post}}
   
    
    <div class="box">
         {{#each post}}
<article class="message is-info is-small" id="msg-box">
    <div class="message-header">
        <p>{{this.title}}</p>
        <div class="level-right">
            {{#unless this.saved}}
            <a class="button is-primary is-rounded is-small save-post" data-id="{{this._id}}">
            <span class="icon is-small">
                <i class="fas fa-check"></i>
            </span>
            <span>Save</span>
        </a>
        
         {{/unless}}
        <a href="/post/notes/{{this._id}}" class="button is-primary is-rounded is-small" data-id="{{this._id}}" id="add_note">
            <span class="icon is-small">
                <i class="fas fa-comment-alt"></i>
            </span>
            <span>Note</span>
        </a>
        <button id="delete-post"class="delete del-post" aria-label="delete" data-id="{{this._id}}"></button>
 
        </div>
        </div>
    
    <div class="message-body">
       
        <a href="{{this.link}}" target="_blank">{{this.title}}</a> 
       <p>{{this.city}}</p>
        <p>{{this.date}}</p>
        </div>
    </article>
     {{/each}}

</div>
     {{else}} 
     <div class="container is-fluid level-item">
<img src="/assets/images/cd.jpg" alt="cat&dog">
</div>
{{/if}}
</div>

<div  id="scr-mode" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
           
            <button class="delete mod-close" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
           
        </section>
        <footer class="modal-card-foot">
           
        </footer>
    </div>
</div>
