<div class="container">
   
    {{#if post}}
   
    
    <div class="box">
         {{#each post}}
<article class="message is-info is-small" id="msg-box">
    <div class="message-header">
        <p>{{this.title}}</p>
        <div class="level-right">
            {{#unless this.saved}}
            <a class="button is-primary is-rounded is-small save-post" data-id="{{this._id}}">
            <span class="icon is-small">
                <i class="fas fa-check"></i>
            </span>
            <span>Save</span>
        </a>
        
         {{/unless}}
        <a class="button is-primary is-rounded is-small" id="add-note">
            <span class="icon is-small">
                <i class="fas fa-comment-alt"></i>
            </span>
            <span>Note</span>
        </a>
        <button class="delete" aria-label="delete" data-id="{{this._id}}"></button>
        </div>
        </div>
    
    <div class="message-body">
       
        <a href="{{this.link}}" target="_blank">{{this.title}}</a> 
       <p>{{this.city}}</p>
        <p>{{this.date}}</p>
        </div>
    </article>
     {{/each}}

</div>
     {{else}} 
     <div class="container is-fluid level-item">
<img src="/assets/images/cd.jpg" alt="cat&dog">
</div>
{{/if}}
</div>
<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Modal title</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <!-- Content ... -->
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success">Save changes</button>
            <button class="button">Cancel</button>
        </footer>
    </div>
</div>
<div  id="scr-mode" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content" id="scr-cont">
        hello
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
